body {
	background-color: #2b2b2b;
	color: #fff;
	margin: 0;
	padding: 0;
	border: 0;
	height: 100%;
	font-family: Arial, Sans-Serif;
}

#aloha-container {
	height: 100%;
}

#left-column {
	position: relative;
	width: 612px;
	height: 572px;
	margin: 20px 35px 20px 20px;
	float: left;
	padding: 20px 0;
}

	#photo-container {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: #3d3d3d;
		box-shadow:         3px 3px 10px 3px rgba(0,0,0,.6);
	}

#right-column {
	position: relative;
	height: 572px;
	float: left;
	padding: 20px 0;
	font-size: 18px;
}

	.right-photo {
		margin-top: 20px;
	}

	.right-annotation {
		position: absolute;
		bottom: 0;
	}
	
	#photo-caption {
		color: #dedede;
		margin-bottom: 20px;
	}

	#photo-user {
		display: inline-block;
		font-weight: bold;
		background-color: #3d3d3d;
		padding: 8px 14px;
		color: #fff;
		border-radius: 4px;
	}
	
	#photo-timestamp {
		margin-top: 10px;
		color: #777;
	}
	
	#photo-likes {
		margin-top: 20px;
		padding-left: 30px;
		background: url(/img/aloha-like.gif) top left no-repeat;
		font-weight: bold;
		font-size: 100%;
	}	
