@charset "UTF-8";
/*
  HTML5 ✰ Boilerplate

  style.css contains a reset, font normalization and some base styles.

  credit is left where credit is due.
  much inspiration was taken from these projects:
    yui.yahooapis.com/2.8.1/build/base/base.css
    camendesign.com/design/
    praegnanz.de/weblog/htmlcssjs-kickstart
*/
/*
  html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
  v1.4 2009-07-27 | Authors: Eric Meyer & Richard Clark
  html5doctor.com/html-5-reset-stylesheet/
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ul {
  list-style: none;
  margin-left: 0px; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/* END RESET CSS */
/* fonts.css from the YUI Library: developer.yahoo.com/yui/
   Refer to developer.yahoo.com/yui/3/cssfonts/ for font sizing percentages

  There are three custom edits:
   * remove arial, helvetica from explicit font stack
   * we normalize monospace styles ourselves
   * table font-size is reset in the HTML5 reset above so there is no need to repeat
*/
body {
  font: 13px/1.231 sans-serif;
  *font-size: small; }

/* hack retained to preserve specificity */
select, input, textarea, button {
  font: 99% sans-serif; }

/* normalize monospace sizing
 * en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome
 */
pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

/*
 * minimal base styles
 */
body, select, input, textarea {
  /* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */
  color: #444;
  /* set your base font here, to apply evenly */
  /* font-family: Georgia, serif;  */ }

/* Headers (h1,h2,etc) have no default font-size or margin,
   you'll want to define those yourself. */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }

/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active {
  outline: none; }

a, a:active, a:visited {
  color: #607890; }

a:hover {
  color: #036; }

ol {
  margin-left: 1.8em; }

ol {
  list-style-type: decimal; }

/* Remove margins for navigation lists */
nav ul, nav li {
  margin: 0; }

small {
  font-size: 85%; }

strong, th {
  font-weight: bold; }

td, td img {
  vertical-align: top; }

sub {
  vertical-align: sub;
  font-size: smaller; }

sup {
  vertical-align: super;
  font-size: smaller; }

pre {
  padding: 15px;
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */ }

textarea {
  overflow: auto; }

/* thnx ivannikolic! www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */
.ie6 legend, .ie7 legend {
  margin-left: -7px; }

/* thnx ivannikolic! */
/* align checkboxes, radios, text inputs with their label
   by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom; }

.ie7 input[type="checkbox"] {
  vertical-align: baseline; }

.ie6 input {
  vertical-align: text-bottom; }

/* hand cursor on clickable input elements */
label, input[type=button], input[type=submit], button {
  cursor: pointer; }

/* webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {
  margin: 0; }

/* remove colors for form validity */
input:invalid, textarea:invalid {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none; }

input:focus {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none; }

a:focus {
  outline: none; }

/* These selection declarations have to be separate.
   No text-shadow: twitter.com/miketaylr/status/12228805301
   Also: hot pink. */
::-moz-selection {
  background: #FF8419;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #FF8419;
  color: #fff;
  text-shadow: none; }

/*  j.mp/webkit-tap-highlight-color */
a:link {
  -webkit-tap-highlight-color: #FF8419; }

/* make buttons play nice in IE:
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {
  width: auto;
  overflow: visible; }

/* bicubic resizing for non-native sized IMG:
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img {
  -ms-interpolation-mode: bicubic; }

/*
 * Non-semantic helper classes
 */
/* for image replacement */
.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr; }

/* Hide for both screenreaders and browsers
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden {
  display: none;
  visibility: hidden; }

/* Hide only visually, but have it available for screenreaders
   www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden  */
.visuallyhidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); }

/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden; }

/* >> The Magnificent CLEARFIX: Updated to prevent margin-collapsing on child elements << j.mp/bestclearfix */
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden; }

.clearfix:after {
  clear: both; }

/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix {
  zoom: 1; }

/* always force a scrollbar in non-IE */
html {
  overflow-y: scroll; }

/*
 * Media queries for responsive design
 * These follow after primary styles so they will successfully override.
 */
@media all and (orientation:portrait) {
  /* Style adjustments for portrait mode goes here */ }
@media all and (orientation:landscape) {
  /* Style adjustments for landscape mode goes here */ }
/* Grade-A Mobile Browsers (Opera Mobile, iPhone Safari, Android Chrome)
   Consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {
  /* Uncomment if you don't want iOS and WinMobile to mobile-optimize the text for you
     j.mp/textsizeadjust
  html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */ }
/*
 * print styles
 * inlined to avoid required HTTP connection www.phpied.com/delay-loading-your-print-css/
 */
@media print {
  * {
    background: transparent !important;
    color: #444 !important;
    text-shadow: none !important; }

  a, a:visited {
    color: #444 !important;
    text-decoration: underline; }

  a:after {
    content: " (" attr(href) ")"; }

  abbr:after {
    content: " (" attr(title) ")"; }

  .ir a:after {
    content: ""; }

  /* Don't show links for images */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img {
    page-break-inside: avoid; }

  @page {
    margin: 0.5cm; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }
@import url(./github.css);
html, body {
  width: 100%;
  height: 100%;
  font-family: "helvetica neue", "helvetica", "arial", "sans-serif"; }

.engraved {
  text-shadow: 0px 1px 0px #fff; }

h1 {
  font-size: 2.5em; }

code {
  font-family: monospace;
  white-space: pre;
  color: #666;
  background: white; }

pre code, code.block {
  overflow: auto;
  display: block;
  border: 1px solid #666;
  padding: 10px 15px; }

.vcc {
  display: table;
  width: 100%;
  height: 100%; }
  .vcc .vc {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle; }

button, .button {
  display: block;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  padding: 5px 0px 6px 0px;
  /* Links */
  width: auto;
  overflow: visible; }

.button {
  padding: 0; }

button[type] {
  padding: 5px 0px 5px 0px;
  /* Firefox */
  line-height: 17px;
  /* Safari */ }

.right {
  float: right; }

.left {
  float: left; }
.popover {
  position: relative;
  min-width: 120px;
  min-height: 85px; }
  .popover.permanent .bgl .bpad, .popover.permanent .bgr .bpad {
    top: 0px; }
  .popover.titled {
    min-height: 80px; }
    .popover.titled .hd {
      height: 65px;
      padding-bottom: 10px; }
      .popover.titled .hd .title {
        text-align: center;
        left: 0px;
        right: 0px;
        position: absolute;
        text-shadow: black 0px -1px 0px;
        font-size: 15px;
        line-height: 20px;
        top: 33px;
        bottom: 10px;
        z-index: 3;
        color: #fff;
        font-weight: bold;
        display: block; }
      .popover.titled .hd .lft {
        height: 75px;
        background: transparent url(/assets/popover/grysprite.png) no-repeat 13px 9px; }
      .popover.titled .hd .rt {
        height: 75px;
        background: transparent url(/assets/popover/grysprite.png) no-repeat 0px -73px; }
      .popover.titled .hd .pad {
        height: 75px;
        background: transparent url(/assets/popover/titled_hdpad1x75.png) repeat-x top center; }
      .popover.titled .hd .arr {
        height: 75px;
        background: transparent url(/assets/popover/grysprite.png) no-repeat 0px -421px; }
    .popover.titled .bd {
      top: 60px; }
      .popover.titled .bd .bgl, .popover.titled .bd .bgr {
        top: 15px; }
  .popover.arrowlfttp .bd .bgl .tpad {
    height: 0px; }
  .popover.arrowlfttp .bd .bgl .arr {
    top: 0px;
    height: 40px; }
  .popover.arrowlfttp .bd .bgl .bpad {
    top: 40px; }
  .popover.arrowlftbtm .bd .bgl .tpad {
    height: auto;
    bottom: 40px; }
  .popover.arrowlftbtm .bd .bgl .arr {
    bottom: 0px;
    height: 40px; }
  .popover.arrowlftbtm .bd .bgl .bpad {
    height: 0px; }
  .popover.arrowrttp .bd .bgr .tpad {
    height: 0px; }
  .popover.arrowrttp .bd .bgr .arr {
    top: 0px;
    height: 40px; }
  .popover.arrowrttp .bd .bgr .bpad {
    top: 40px; }
  .popover.arrowrtbtm .bd .bgr .tpad {
    height: auto;
    bottom: 40px; }
  .popover.arrowrtbtm .bd .bgr .arr {
    bottom: 0px;
    height: 40px; }
  .popover.arrowrtbtm .bd .bgr .bpad {
    height: 0px; }
  .popover.arrowtplft .hd .lpad.pad {
    width: 0px; }
  .popover.arrowtplft .hd .rpad.pad {
    width: auto;
    left: 80px;
    right: 40px; }
  .popover.arrowtplft .hd .arr {
    right: auto;
    width: 40px;
    left: 40px; }
  .popover.arrowtprt .hd .rpad.pad {
    width: 0px; }
  .popover.arrowtprt .hd .lpad.pad {
    width: auto;
    left: 40px;
    right: 80px; }
  .popover.arrowtprt .hd .arr {
    left: auto;
    width: 40px;
    right: 40px; }
  .popover.arrowbtmlft .ft .lpad.pad {
    width: 0px; }
  .popover.arrowbtmlft .ft .rpad.pad {
    width: auto;
    left: 80px;
    right: 40px; }
  .popover.arrowbtmlft .ft .arr {
    right: auto;
    width: 40px;
    left: 40px; }
  .popover.arrowbtmrt .ft .rpad.pad {
    width: 0px; }
  .popover.arrowbtmrt .ft .lpad.pad {
    width: auto;
    left: 40px;
    right: 80px; }
  .popover.arrowbtmrt .ft .arr {
    left: auto;
    width: 40px;
    right: 40px; }
  .popover .hd {
    z-index: 11;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 30px;
    padding-bottom: 0px; }
    .popover .hd .title {
      display: none; }
    .popover .hd .lft {
      width: 40px;
      position: absolute;
      top: 0px;
      left: 0px;
      height: 60px;
      background: transparent url(/assets/popover/grysprite.png) no-repeat 13px -155px; }
    .popover .hd .pad {
      position: absolute;
      top: 0px;
      height: 40px;
      background: transparent url(/assets/popover/hdpad1x40.png) repeat-x top center; }
      .popover .hd .pad.lpad {
        width: auto;
        left: 40px;
        right: 40px; }
      .popover .hd .pad.rpad {
        width: 0px;
        right: 40px; }
    .popover .hd .arr {
      width: 0px;
      max-width: 40px;
      position: absolute;
      top: 0px;
      left: 0px;
      height: 40px;
      background: transparent url(/assets/popover/grysprite.png) no-repeat 0px -510px; }
    .popover .hd .rt {
      width: 40px;
      position: absolute;
      top: 0px;
      right: 0px;
      height: 60px;
      background: transparent url(/assets/popover/grysprite.png) no-repeat 0px -223px; }
  .popover .bd {
    padding: 0;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 25px; }
    .popover .bd .bgl {
      position: absolute;
      left: 0px;
      top: 35px;
      bottom: 25px;
      width: 40px;
      bottom: 25px;
      z-index: 100; }
      .popover .bd .bgl .tpad {
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        height: 0px;
        background: transparent url(/assets/popover/lftpad40x1.png) repeat-y top center; }
      .popover .bd .bgl .arr {
        position: absolute;
        left: 0px;
        right: 0px;
        height: 0px;
        max-height: 40px;
        background: transparent url(/assets/popover/grysprite.png) no-repeat 2px -303px; }
      .popover .bd .bgl .bpad {
        position: absolute;
        left: 0px;
        right: 0px;
        background: transparent url(/assets/popover/lftpad40x1.png) repeat-y top center;
        bottom: 0px;
        height: auto; }
    .popover .bd .bgr {
      position: absolute;
      top: 35px;
      right: 0px;
      width: 40px;
      bottom: 25px;
      z-index: 100; }
      .popover .bd .bgr .tpad {
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        height: 0px;
        background: transparent url(/assets/popover/rtpad40x1.png) repeat-y top center; }
      .popover .bd .bgr .arr {
        position: absolute;
        left: 0px;
        right: 0px;
        height: 0px;
        max-height: 40px;
        background: transparent url(/assets/popover/grysprite.png) no-repeat 5px -360px; }
      .popover .bd .bgr .bpad {
        position: absolute;
        left: 0px;
        right: 0px;
        background: transparent url(/assets/popover/rtpad40x1.png) repeat-y top center;
        bottom: 0px;
        height: auto; }
    .popover .bd .content {
      position: absolute;
      top: 5px;
      left: 30px;
      right: 30px;
      bottom: 13px;
      background: #fff;
      overflow: hidden; }
  .popover .ft {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding-top: 10px;
    height: 15px;
    z-index: 100; }
    .popover .ft .lft {
      width: 40px;
      position: absolute;
      top: 0px;
      left: 0px;
      height: 40px;
      background: transparent url(/assets/popover/grysprite.png) no-repeat 12px -617px; }
    .popover .ft .pad {
      position: absolute;
      top: 0px;
      height: 40px;
      background: transparent url(/assets/popover/ftpad1x40.png) repeat-x top center; }
      .popover .ft .pad.lpad {
        width: auto;
        left: 40px;
        right: 40px; }
      .popover .ft .pad.rpad {
        width: 0px;
        right: 40px; }
    .popover .ft .arr {
      max-width: 40px;
      width: 0px;
      position: absolute;
      top: 0px;
      left: 0px;
      height: 40px;
      background: transparent url(/assets/popover/grysprite.png) no-repeat 0px -562px; }
    .popover .ft .rt {
      width: 40px;
      position: absolute;
      top: 0px;
      right: 0px;
      height: 60px;
      background: transparent url(/assets/popover/grysprite.png) no-repeat 0px -663px; }
#page {
  width: 320px;
  margin: 0 auto;
  position: relative;
  background: #f0f0f0;
  color: #0f0f0f;
  padding-bottom: 10px;
  min-height: 100%;
  -moz-box-shadow: rgba(0, 0, 0, 0.75) 0px 0px 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 0px 0px 10px;
  box-shadow: rgba(0, 0, 0, 0.75) 0px 0px 10px;
  z-index: 2; }

body, html {
  background: #000; }

#bg {
  background: #000;
  position: absolute;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1; }

header {
  padding: 25px 10px 10px;
  width: 250px;
  height: 100%;
  color: #000;
  text-align: left;
  margin-bottom: 10px; }
  header nav.submenu {
    display: none;
    padding-top: 20px; }
    header nav.submenu h2 {
      font-weight: normal;
      font-size: 18px;
      font-family: divulge-1, divulge-2, "Helvetica Neue", "Helvetica", "Arial", sans-serif; }
    header nav.submenu li {
      float: left;
      display: block;
      padding: 5px 5px 5px 0; }
  header summary {
    font-size: 14px;
    display: none;
    margin: 20px auto;
    text-shadow: white 1px 0px 0px; }
    header summary p {
      margin: 10px 0; }
  header .logo {
    display: block; }
  header h1 {
    font-weight: normal;
    font-size: 40px; }
  header nav.int {
    font-family: divulge-1, divulge-2, "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    padding: 8px 0 0 0;
    font-size: 20px; }
    header nav.int a, header nav.int a:visited {
      color: #000;
      text-decoration: none;
      padding: 1px 0;
      margin-right: 10px; }
      header nav.int a.first, header nav.int a:visited.first {
        padding-left: 0; }
      header nav.int a:hover, header nav.int a:visited:hover {
        text-shadow: none;
        background: #000;
        color: #fff; }
      header nav.int a.active, header nav.int a:active, header nav.int a:visited.active, header nav.int a:visited:active {
        border-bottom: 1px solid #333; }

.rule {
  height: 0;
  width: 100%;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #fff;
  margin: 0 auto; }

a, a:visited {
  color: #666;
  text-decoration: underline; }
  a:hover, a:visited:hover {
    color: #000; }

#bd {
  padding: 10px; }
#bd.fullscreen {
  margin-right: 0;
  padding-right: 10px;
}
.demo {
  width: 100%;
}
.demo canvas {
  margin: 40px 0;
}
.demo .demo-logging {
  padding-top: 15px;
  margin-top: 30px;
  border-top: 1px solid #a0a0a0;
}
.demo-controls {
  width: 100%; }
.demo-controls input[type="number"] {
  border: 1px solid #999;
  width: 50px;
  padding: 5px;
}
.demo-controls button {
  margin-left: 10px;
  padding: 5px 15px;
  line-height: 1.2em;
  border-radius: 3px;
  display: inline-block;
  width: auto;
  height: auto;
  cursor: pointer;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  background-color: #ddd;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ededed), color-stop(100%, #f0f0f0));
  background: -webkit-linear-gradient(#ddd, #f0f0f0);
  background: -moz-linear-gradient(#ddd, #f0f0f0);
  background: -o-linear-gradient(#ddd, #f0f0f0);
  background: -ms-linear-gradient(#ddd, #f0f0f0);
  background: linear-gradient(#ddd, #f0f0f0);
  -moz-box-shadow: #ededed 0 1px 0 inset;
  -webkit-box-shadow: #ededed 0 1px 0 inset;
  -o-box-shadow: #ededed 0 1px 0 inset;
  box-shadow: #ededed 0 1px 0 inset;
  border: 1px solid #999;
  color: #333;
  text-shadow: #ddd 0 -1px 0;}
.demo-controls label, .demo-controls select, .demo-controls .chzn-container {
  margin: 0 10px;
  display: inline-block; }
.demo-controls label {
    font-weight: bold; }
nav.ext {
  clear: both;
  width: 200px;
  margin: 20px 0 0 0; }
  nav.ext h2 {
    font-family: divulge-1, divulge-2, "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight: normal;
    font-size: 1.2em;
    margin: 0 0 10px 0; }
  nav.ext a {
    width: 32px;
    height: 32px;
    margin: 0 5px;
    display: block;
    text-decoration: none;
    background-color: transparent;
    background-image: url(/assets/logos/external.png);
    background-repeat: no-repeat;
    float: left; }
    nav.ext a.first {
      margin-left: 0; }
    nav.ext a.last {
      margin-right: 0; }
    nav.ext a.aboutme {
      background-position: 0 0; }
      nav.ext a.aboutme:hover {
        background-position: 0 -36px; }
    nav.ext a.twitter {
      background-position: -105px 0; }
      nav.ext a.twitter:hover {
        background-position: -105px -36px; }
    nav.ext a.linkedin {
      background-position: -140px 0; }
      nav.ext a.linkedin:hover {
        background-position: -140px -36px; }
    nav.ext a.github {
      background-position: -70px 0; }
      nav.ext a.github:hover {
        background-position: -70px -36px; }
    nav.ext a.stackoverflow {
      background-position: -35px 0; }
      nav.ext a.stackoverflow:hover {
        background-position: -35px -36px; }

h1, h2 {
  text-shadow: white 0px 1px 0px;
  font-family: divulge-1, divulge-2, "Helvetica Neue", "Helvetica", "Arial", sans-serif; }

@media screen and (min-width: 480px) and (max-width: 650px) {
  #page {
    width: 480px; }

  header {
    width: 460px;
    margin: 0 auto 10px auto;
    text-align: center; }
    header nav.ext {
      margin: 20px auto 0; } }
@media screen and (min-width: 650px) {
  #page {
    width: 650px; }

  header {
    height: 100%;
    padding: 25px;
    position: absolute;
    right: 0;
    top: 0;
    float: right; }
    header summary {
      display: block; }
    header nav.submenu {
      display: block; }

  #bd {
    padding: 20px 25px 50px 25px;
    margin-right: 300px; }

  .rule {
    height: auto;
    width: 0;
    border-left: 1px solid #ddd;
    border-right: 1px solid #fff;
    position: absolute;
    right: 300px;
    bottom: 0;
    top: 0; } }
@media screen and (min-width: 1000px) {
  #page {
    width: 1000px;
    padding-bottom: 100px; } }
#site_home_about #bd {
  padding-top: 20px;
  margin-bottom: 20px;
  font-size: 1.2em;
  line-height: 1.4em; }
  #site_home_about #bd p {
    text-align: left;
    margin: 1em 0; }
  #site_home_about #bd h1 {
    font-weight: normal;
    font-size: 30px;
    margin: 0.5em auto 1em; }

@media screen and (min-width: 1000px) {
  #site_home_about #img {
    float: left; }
  #site_home_about .body {
    margin-left: 150px; } }
#site_home_index #title {
  font-family: divulge-1, divulge-2, "Helvetica Neue", "Helvetica", "Arial", sans-serif; }
#site_home_index #page {
  padding: 0;
  text-align: center; }
#site_home_index nav.int {
  font-family: divulge-1, divulge-2, "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  margin: 30px 0;
  font-size: 18px; }
  #site_home_index nav.int a, #site_home_index nav.int a:visited {
    color: #000;
    text-decoration: none;
    padding: 2px 5px; }
    #site_home_index nav.int a.first, #site_home_index nav.int a:visited.first {
      padding-left: 0; }
    #site_home_index nav.int a:hover, #site_home_index nav.int a:visited:hover {
      text-shadow: none;
      border-bottom: 1px solid #333; }
    #site_home_index nav.int a.active, #site_home_index nav.int a:active, #site_home_index nav.int a:visited.active, #site_home_index nav.int a:visited:active {
      border-bottom: 1px solid #333; }
#site_home_index nav.ext {
  margin: 20px auto 0;
  width: 200px;
  clear: none; }
#site_home_index #bd {
  padding: 0;
  z-index: 2;
  position: relative;
  min-height: 100%;
  width: 100%; }
#site_home_index #bio {
  margin: 50px 0 20px;
  font-size: 20px;
  font-family: divulge-1, divulge-2, "Helvetica Neue", "Helvetica", "Arial", sans-serif; }
  #site_home_index #bio p {
    margin: 0 0; }
#site_home_index #intro {
  padding: 30px 0; }
#site_home_index #wrapper {
  height: 100%;
  width: 320px;
  /* Optimally 786px */
  margin: 0 auto; }
#site_home_index #me {
  height: 300px;
  width: 300px;
  background: transparent url(/assets/logos/me300x300.png) no-repeat center center; }

@media screen and (min-width: 650px) {
  #site_home_index #wrapper {
    width: 665px;
    margin: 0 auto;
    padding: 5px;
    display: table; }
  #site_home_index #intro {
    padding: 0;
    display: table-cell;
    vertical-align: middle; }
  #site_home_index #me {
    float: left;
    padding-right: 25px;
    margin-right: 25px;
    border-right: 1px solid #fff; }
  #site_home_index #bio {
    margin: 0;
    padding-top: 50px; }
  #site_home_index nav.ext {
    margin: 20px 0 0 0;
    width: auto; }
  #site_home_index #bio, #site_home_index nav {
    text-align: left; } }
@media screen and (min-width: 650px) and (min-device-height: 310px) {
  #site_home_index #bd {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; } }
#site_home_twitter #timeline {
  clear: left;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  min-height: 100px; }
  #site_home_twitter #timeline.loading {
    background: white url(/assets/loading/threebarwhite16x11-dcbac57f67516d458384e9bf2eb32b1d.gif) no-repeat center center; }
#site_home_twitter .more {
  text-align: right;
  margin: 10px 5px; }
#site_home_twitter #header {
  margin: 10px 5px 0px; }
  #site_home_twitter #header a {
    text-decoration: none; }
  #site_home_twitter #header .follow {
    float: right;
    margin: 13px 0px; }
  #site_home_twitter #header .profoto {
    display: inline-block;
    height: 48px;
    width: 48px;
    float: left;
    line-height: 48px;
    margin-bottom: 20px; }
    #site_home_twitter #header .profoto.loading {
      height: 46px;
      width: 46px;
      border: 1px solid #ddd;
      background: white url(/assets/loading/threebarwhite16x11-dcbac57f67516d458384e9bf2eb32b1d.gif) no-repeat center center; }
  #site_home_twitter #header .handle {
    float: left;
    display: block;
    height: 48px;
    margin-left: 10px;
    line-height: 48px;
    font-weight: bold;
    font-size: 20px; }
#site_home_twitter .tweet {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  color: #555; }
  #site_home_twitter .tweet a {
    text-decoration: none !important;
    color: #9999aa !important; }
  #site_home_twitter .tweet:last-child {
    border-bottom: 0; }
  #site_home_twitter .tweet time {
    float: right;
    color: #ddd;
    font-size: 11px; }
.site.blog nav.submenu {
  display: none; }
  .site.blog nav.submenu h2 {
    float: left;
    padding-right: 10px; }
  .site.blog nav.submenu #tags .tag a {
    text-decoration: none; }
  .site.blog nav.submenu #tags .tag:hover a {
    color: #000; }
  .site.blog nav.submenu #tags .tag.active a {
    color: #000;
    border-bottom: 1px solid #000; }
.site.blog .pagination {
  font-family: divulge-1, divulge-2, "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 20px;
  float: right;
  margin: 20px 0;
  width: 300px; }
  .site.blog .pagination a {
    float: right; }
  .site.blog .pagination.next.previous a.previous {
    float: left; }
  .site.blog .pagination a {
    color: #000;
    text-decoration: none;
    padding: 0 5px; }
    .site.blog .pagination a:hover {
      border-bottom: 1px solid #000; }
.site.blog .post {
  margin: 0 auto 20px;
  padding-top: 1px; }
  .site.blog .post.last {
    margin-bottom: 0; }
  .site.blog .post h1 {
    text-align: left;
    font-size: 2.5em;
    font-weight: normal;
    margin: 10px 0; }
    .site.blog .post h1 a {
      color: #333;
      text-decoration: none; }
      .site.blog .post h1 a:hover {
        text-decoration: underline; }
  .site.blog .post .social {
    margin: 2em auto 0; }
    .site.blog .post .social .share {
      float: left;
      margin-right: 10px; }
      .site.blog .post .social .share.last {
        margin: 0; }
    .site.blog .post .social .comment_count {
      width: 27px;
      line-height: 22px;
      height: 24px;
      font-size: 12px;
      font-weight: bold;
      display: block;
      color: #333;
      text-align: center;
      background: transparent url(/assets/icons/commentswhover27x24.png) no-repeat 0 0;
      text-decoration: none; }
      .site.blog .post .social .comment_count:hover, .site.blog .post .social .comment_count:active {
        background-position: 0 -24px;
        color: #fff; }
  .site.blog .post .comments {
    display: none;
    margin: 1em auto 0; }
  .site.blog .post .comments.narrow {
    display: block; }
  .site.blog .post p {
    font-size: 1.2em;
    line-height: 1.4em;
    text-align: justify;
    margin: 1em 0; }
  .site.blog .post .link a {
    text-decoration: none; }
    .site.blog .post .link a:hover {
      text-decoration: underline; }
  .site.blog .post hr {
    height: 0px;
    margin: 1em auto;
    border-top: 1px solid #999;
    border-bottom: 1px solid #fff; }

@media screen and (min-width: 480px) {
  .site.blog .post .comments.narrow, .site.blog .post .comments.wide {
    display: none; }
  .site.blog .post .comments.midWidth {
    display: block; } }
@media screen and (min-width: 650px) {
  .site.blog nav.submenu {
    display: block; }
  .site.blog .post {
    margin-bottom: 30px; }
    .site.blog .post .comments.narrow, .site.blog .post .comments.midWidth {
      display: none; }
    .site.blog .post .comments.narrow {
      display: block; } }
@media screen and (min-width: 1000px) {
  .site.blog .post .comments.narrow, .site.blog .post .comments.midWidth {
    display: none; }
  .site.blog .post .comments.wide {
    display: block; } }
.site.errors #bd {
  text-align: center;
  padding-top: 20px; }
  .site.errors #bd h1 {
    font-weight: normal;
    font-size: 16px;
    margin: 1em auto; }
  .site.errors #bd .image {
    margin: 0 auto; }
  .site.errors #bd .error {
    margin: 0 auto; }
.site.errors .not_found .image {
  background: transparent url(/assets/logos/bernini100x126.png) no-repeat center center;
  width: 100px;
  height: 126px; }
.site.errors .unprocessable .image {
  background: transparent url(/assets/logos/perseus64x130.png) no-repeat center center;
  width: 64px;
  height: 130px; }
.site.errors .server .image {
  background: transparent url(/assets/logos/caravaggio100x102.png) no-repeat center center;
  width: 100px;
  height: 102px; }

@media screen and (min-width: 650px) {
  .site.errors #bd .error h1 {
    font-size: 22px; }
  .site.errors .not_found .image {
    background: transparent url(/assets/logos/bernini230x290.png) no-repeat center center;
    width: 230px;
    height: 290px; }
  .site.errors .unprocessable .image {
    background: transparent url(/assets/logos/perseus148x300.png) no-repeat center center;
    width: 148px;
    height: 300px; }
  .site.errors .server .image {
    background: transparent url(/assets/logos/caravaggio295x300.png) no-repeat center center;
    width: 295px;
    height: 300px; } }
@media screen and (min-width: 1000px) {
  .site.errors #bd .error {
    width: 650px; } }