@import '_mixins';
@import '~materialize-css/sass/components/color';
@import '~materialize-css/sass/components/variables';

$primary-color: color("light-blue", "lighten-2") !default;
$primary-color-light: lighten($primary-color, 15%) !default;
$primary-color-dark: darken($primary-color, 15%) !default;

$secondary-color: color("light-blue", "base") !default;
$success-color: color("light-blue", "base") !default;
$error-color: color("red", "lighten-1") !default;
$link-color: color("light-blue", "lighten-2") !default;

$button-background-focus: lighten($primary-color, 4%) !default;
$button-raised-background: $primary-color !default;
$chip-selected-color: $secondary-color !default;

@import '~materialize-css/sass/materialize';

.form-btn {
  margin-top: 1.6rem;
}

.btn-flat {
  border: 1px solid #eee;
  background-color: white;
  color: black;
  text-transform: lowercase;
  transition: border-color 0.25s, color 0.25s;
  &:hover {
    border-color: #ddd;
    color: #666 !important;
    background-color: #ddd;
  }
  &.active {
    background-color: #ccc;
  }
}

.toggle {
  .title {
    margin: 0 auto 0.5rem;
    text-align: center;
  }
  .btn-flat {
    text-align: center;
    margin: 0;
  }
}

.top-margin {
  margin-top: 1rem;
}

.subtext {
  color: #ccc;
}

.home {
  .projects {
    .card-content {
      display: block;
      text-align: center;
      padding: 0.5rem 0.5rem;
    }
    .description {
      height: auto
    }
    a.card {
      box-shadow: none;
      border: 1px solid #eee;
      color: black;
      display: block;
      margin-right: 0.5rem;
      transition: border-color 0.25s, color 0.25s;
      &:hover {
        border-color: #ccc;
        color: #ccc !important;
      }
    }
  }
}

@include keyframes(blink) {
  0%    { opacity: 1; }
  49%   { opacity: 1; }
  50%   { opacity: 0; }
  100%  { opacity: 0; }
}

.clock {
  .digital {
    font-family: Courier New, monospace;
    text-align: center;
    margin: 0 auto;
    .divider {
      background: #fff;
      @include animation('blink 1s infinite')
    }
  }
  canvas {
    margin: 0 auto;
    text-align: center;
    display: block;
  }
}

@media only screen and (min-width: 992px) {
 .home {
    .projects {
      .card-content {
        padding: 1rem;
        text-align: left;
      }
      .description {
        height: 3rem;
      }
    }
 }
}
